<!DOCTYPE html>
<html lang='{{ .Site.Language.Lang }}'>
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- _default/baseof.html  -->` | safeHTML }}
  {{- end}}
  {{  partial `head.html` . -}}
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- back in _default/baseof.html  -->` | safeHTML }}
  {{- end}}

  <body>
	{{ partial `page.title.html` . }}
    <div id="all" class="w3-theme-l4">
	  <header>
		{{ partial `header.marquee.html` . -}}
		{{ partial `header.rss.html`     . -}}
		{{ partial `header.nav.html`     . -}}
		{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
		{{ `<!-- back in _default/baseof.html  -->` | safeHTML }}
		{{- end}}
	  </header>
      <div id="canvas" class='w3-container {{ default `w3-theme-l4` }} '>
		<div class="max-width-wrapper">
		{{- partial `main.breadcrumbs.html` . -}}
        <h1>{{ if $.Params.icon }}<i class='{{ $.Params.icon }} fa-1x'></i>{{ end }} {{ default .Title  ( index .Params "displaytitle" ) | markdownify | emojify }} </h1>

        {{- block `main` . }}
        {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- block main _default/baseof.html  -->` | safeHTML }}
        {{- end -}}
        {{  partial `main.blog.date.html`         . -}}
        {{- /* partial `main.taxonomy.current.html`  . */ -}}
        {{- /* partial `main.teaserpic.single.html`  . */ -}}
        {{- /* partial `main.title.html`          . */ -}}
        {{- partial `main.toc.single.html`        . -}}
        {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- back in _default/baseof.html  -->` | safeHTML }}
        {{- end}}
        {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- now Content  -->` | safeHTML }}
        {{- end}}
        {{/* .Content */}}
        {{ .Content | replaceRE `(?s:</div>\n?</p>)` `</div>` | replaceRE `(?s:</pre>\n?</p>)` `</pre>` | safeHTML }}
        {{/* .Content | replaceRE `<p><div` `<div` | replaceRE `(?s:</div>\n?</p>)` `</div>` | replaceRE `(?s:</pre>\n?</p>)` `</pre>` | safeHTML */}}
        {{- end }}

        {{- if eq .Type `blog` }}
        {{- block `blog-disqus` . }}
        {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- block blog-disqus _default/baseof.html  -->` | safeHTML }}
        {{- end}}
          {{ end }}
          {{- end -}}

          {{- if eq .Type `contact` }}
          {{- block `contactform` . }}
          {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
          {{ `<!-- block contactform _default/baseof.html  -->` | safeHTML }}
          {{- end}}
          {{ end }}
          {{- end -}}

          {{- if eq .Type `search` }}
          {{- block `search` . }}
          {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
          {{ `<!-- block search _default/baseof.html  -->` | safeHTML }}
          {{- end}}
          {{ end }}
          {{- end -}}

          {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
          {{ `<!-- back in _default/baseof.html  -->` | safeHTML }}
          {{- end}}
        {{- if ne .Type `categories` -}}
          {{ partial `main.support.html` . }}
		{{- end -}}
      </div> {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- canvas -->` | safeHTML }}
      {{- end}}
    </div>

      <footer>
        {{  block `footer` . }}
        {{- partial `footer.html`        . -}}
        {{- partial `footer.bottom.html` . -}}
        {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- back in _default/baseof.html  -->` | safeHTML }}
        {{- end}}
      {{ end }}
      </footer>
    </div> {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!-- all -->` | safeHTML }}
    {{- end}}
    {{/* partial `scripts.bottom.html`  . */}}
  </body>
  {{ partial `debug.html` . -}}
</html>
