{{ define `headline` }}
{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
{{ `<!-- _default/taxonomy.html (headline)  -->` | safeHTML }}
{{- end}}
  <h1 class='w3-panel {{ default `w3-theme-l2` ($.Site.Param `colorTaxonomyPanel`)}} '>
  {{- if eq .Data.Singular `category` }}<i class="w3-margin-right fas fa-folder-open" aria-hidden="true"></i>{{ default `Category` (i18n `categoryTitle`) }}:{{ end }}
  {{- if eq .Data.Singular `tag`      }}<i class="w3-margin-right fas fa-tag"         aria-hidden="true"></i>{{ default `Tag` (i18n `tagTitle`) }}:     {{ end }}
  {{- .Title  | markdownify | emojify }}</h1>
{{- end }}

{{ define `main` }}
{{/*
{{range where .Site.Pages ".Params.categories" "intersect" (slice "Colapso Ecológico" ) }}
<br>Title is {{ .Title }}
{{ end }}
<p>.sitesections {{ .Site.Sections }}
{{ .Data }}
<p>
{{ range $index, $data := $.Site.Pages }}
<p>{{ .Params.categories }}
{{ end }}
*/}}
{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
{{ `<!-- _default/taxonomy.html (main)  -->` | safeHTML }}
{{- end}}
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!--  .Paginate .Data.Pages -->` | safeHTML }}
  {{- end}}
  {{/* $paginator := .Paginate (where .Data.Pages `Type` `blog`) */}}
  {{ .Content }}
  {{/*- $paginator := .Paginate .Data.Pages */}}
  {{- $paginator := .Paginate ( where .Site.Pages ".Params.categories" "intersect" (slice .Title ) ) }}
  {{/* partial `main.paginator.bar.html` . */}}
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!--  back in _default/taxonomy.html  -->` | safeHTML }}
  {{- end}}
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!-- range $paginator.Pages -->` | safeHTML }}
  {{- end}}
  {{- range $index, $element := $paginator.Pages }}
  {{/* range $index, $element := sort .Data.Pages */}}
    {{- if eq (mod $index 3) 0 }}
    <div class="w3-cell-row w3-margin-top">
    {{- end }}
      <div class='w3-cell w3-cell-bottom w3-margin-bottom w3-mobile {{ default `w3-theme-l4` ($.Site.Param `colorTaxonomyCell`)}} '>
        <div class='w3-card w3-margin-right w3-round w3-hover-shadow w3-opacity-min w3-hover-opacity-off {{ default `w3-theme-l3` ($.Site.Param `colorTaxonomyCard`)}} '>
          {{ partial `main.teaser_in_card.html` . }}
        </div> <!-- w3-card -->
      </div> {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
               {{ `<!-- w3-cell -->` | safeHTML }}
             {{- end}}
    {{- if or (eq (mod $index 3) 2) (eq (add $index 1 ) $paginator.NumberOfElements ) }}
    </div> {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
             {{ `<!-- w3-cell-row -->` | safeHTML }}
           {{- end}}

    {{- end }}{{/* if mod */}}
  {{- end }} {{/* range */}}

  {{/* partial `main.paginator.bar.html` . */}}

{{- end }}

{{ define `footer` }}
{{- end }}
