{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/footer.html  -->` | safeHTML }}
{{- end}}
<div id="footer" class='w3-container {{ default `w3-theme-d5` ($.Site.Param `colorFooterContainer`)}} '>

  <div class="w3-margin-bottom w3-row w3-mobile">

    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- Site.Params.aboutUs  -->` | safeHTML }}
    {{- end}}
    <div class="w3-col w3-third footer-about">
      <h4>{{ default `About` (i18n `aboutUs`) }}</h4>
      <div>{{- $.Site.Params.aboutUs | markdownify }}</div>
	  <h4 class="clear donateHeader">{{ i18n `donateTitle` }}</h4>
      <div class="center"><a class="paypal-button" href="{{ default "https://stopfossilfuels.org/loyalty-material-support/donate/" ( ref . "/loyalty-material-support/donate" ) }}">{{ i18n `donateHowWhy` }}</a></div>
    </div> <!-- w3-col -->

	{{- if $.Site.Params.subscribeBlurb }}
    <div id="footer-subscribe" class="w3-col w3-third footer-subscribe">
      <h4>{{ default `Subscribe` (i18n `footerSubscribe`) }}</h4>
      <div>{{- $.Site.Params.subscribeBlurb | markdownify }}</div>
      {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- footer: subscribe -->` | safeHTML }}
      {{- end}}
	<div>
	<form action="https://do.stopfossilfuels.org/civicrm/?page=CiviCRM&amp;q=civicrm/profile/create" method="post" name="Edit" id="Edit" class="CRM_Profile_Form_Edit" data-warn-changes="true" >
	  <input name="gid" type="hidden" value="14" />
	  <input name="_qf_default" type="hidden" value="Edit:next" />
	  <input name="entryURL" type="hidden" value="https://do.stopfossilfuels.org/civicrm/?page=CiviCRM&amp;amp;q=civicrm/admin/setting/misc&amp;amp;page=CiviCRM&amp;amp;reset=1" />
	  <input name="contact_source" type="hidden" value="sff.org" />
	  <div>
		<input type="email" required name="email-Primary" placeholder="{{ i18n `footerEmail` }}" class="required email" id="signup-EMAIL">
	  </div>
	  <div>
		<input type="text" name="first_name" placeholder="{{ i18n `firstName` }}" class="half" id="signup-FNAME">
		<input type="text" name="last_name" placeholder="{{ i18n `lastName` }}" class="half" id="signup-LNAME">
		<input type="text" name="name" id="form-name">
	  </div>
	  <div class="clear"><input type="submit" value="{{ default `Subscribe` ( i18n `footerSubscribe` ) }}" name="subscribe" class="button"></div>
	</form>
  </div>
    </div> <!-- w3-col -->
	  {{- end }} {{/* if subscribeBlurb */}}
 
    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- Site.Params.recentPosts  -->` | safeHTML }}
    {{- end}}

    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- Site.Params.address  -->` | safeHTML }}
    {{- end}}
    <div id="footer-contact" class="w3-col w3-third">
      <h4>{{ default `Contact` (i18n `contactTitle`) }}</h4>
      <div>{{ i18n `contactUsText` }}
	  <p><a class="email" href="mailto:contact@stopfossilfuels.org">contact@stopfossilfuels.org</a></div>
	  <br />
	  <p><a href="{{ .Site.BaseURL }}/index.xml" target="_blank"><img class="social" src="/img/rss.png" alt="RSS feed"></a>
	  <a href="https://reddit.com/r/StopFossilFuels" target="_blank"><img class="social" src="/img/reddit.png" alt="Reddit"></a>
	  <a href="https://www.youtube.com/channel/UCWqxdKHeo2jQ547ToejPndQ" target="_blank"><img class="social" src="/img/youtube.png" alt="Youtube"></a>
	  <a href="https://www.facebook.com/StopFossFuels/" target="_blank"><img class="social" src="/img/facebook.png" alt="Facebook"></a>
	  <a href="https://twitter.com/StopFossFuels" target="_blank"><img class="social" src="/img/twitter.png" alt="Twitter"></a>
	  </p>
    </div> <!-- w3-col -->

  </div>  <!-- w3-row -->
</div>  <!-- w3-container -->
