{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/head.meta.og.html -->` | safeHTML }}
{{- end}}
  {{ with .Site.Title   }}<meta property="og:site_name"      content="{{ . | safeHTML }}" /> {{end}}
  {{ with .Title        }}<meta property="og:title"          content="{{ . | safeHTML }}" /> {{end}}
  {{ with .Permalink    }}<meta property="og:url"            content="{{ . | absURL   }}" /> {{end}}
  {{ with .Param "featuredPic"  }}<meta property="og:image"          content='{{ if eq ( substr . 0 1 ) `/` }}{{ . | absURL }}{{ else }}{{ $.Param "url" | absURL }}{{ . }}{{ end }}' /> {{end}}
