{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
{{ `<!-- partials/head.stylesheets.html -->` | safeHTML }}
{{- end}}

<link rel="stylesheet" href='{{ relURL `vendor/w3css/4/w3.css`                                           }}' />
{{- /* if and (isset $.Site.Params (lower `w3css_color_theme` )) $.Site.Params.w3css_color_theme */}}
{{- if $.Site.Params.w3cssColorTheme }}
<link rel="stylesheet" href='{{ relURL $.Site.Params.w3cssColorTheme }}' />
{{- else }}
<link rel="stylesheet" href='{{ relURL `vendor/w3css/4/w3-theme-red.css` }}' />
{{- end }}

<link rel="stylesheet" href='{{ relURL `css/syntax.min.css`       }}' />
<link rel="stylesheet" href='{{ relURL `css/w3css-basic.min.css`  }}' />

<link rel="stylesheet" href='{{ relURL `css/custom.css`           }}' />
<link rel="stylesheet" href='{{ relURL `css/sff.css`           }}' />
{{ if ne $.Site.Language.Lang "en" }}
<link rel="stylesheet" href='{{ relURL (printf "%s%s%s" "css/sff." $.Site.Language.Lang ".css" )  }}' />
{{ end }}

{{- range .Site.Params.custom_css }}
<link rel="stylesheet" href='{{ . | relURL                        }}' />
{{- end }}
