{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/header.nav.html -->` | safeHTML }}
{{- end}}
{{- if isset $.Site.Params.menuConfig (lower `smallDispMenuMaxChars` ) }}
{{- $.Scratch.Set `smallDispMenuLower` 1 }}
{{- else}}
{{- $.Scratch.Set `smallDispMenuLower` `` }}
{{- end}}
{{- $.Scratch.Set `smallDispMenuMaxChars`    ($.Site.Params.menuConfig.smallDispMenuMaxChars  | default 99) }}

<div class='sticky w3-bar w3-hide-small {{ default `w3-theme-dark` ($.Site.Param `colorHeaderNav`)}} ' id="w3-bar-large">
  <div id="w3-bar-large-wrapper">

  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!-- w3-hide-small ******************** -->` | safeHTML }}
  {{- end}}
  {{- template `ssf_header-nav-entry` . }}
  </div> <!-- w3-bar-large-wrapper -->
</div> <!-- w3-bar -->

<div class='sticky w3-bar w3-small w3-hide-large w3-hide-medium {{ default `w3-theme-dark` ($.Site.Param `colorHeaderNav`)}} ' id="w3-bar-small">


  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!-- w3-hide-large w3-hide-medium ******************** -->` | safeHTML }}
  {{- end}}
  {{- template `ssf_header-nav-entry` . }}

</div> <!-- w3-bar -->


{{- define `ssf_header-nav-entry` }}
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!-- header-nav-entry -->` | safeHTML }}
  {{- end}}
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!-- range .Site.Menus.main -->` | safeHTML }}
  {{- end}}
  {{ $numMenuItems := len $.Site.Menus.main }}
  {{ $lastMenuIndex := (sub $numMenuItems 1) }}
  {{- range $index, $value := .Site.Menus.main }}
    {{- if .HasChildren }}
      {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- .HasChildren -->` | safeHTML }}
      {{- end}}
	  
	  <div class="w3-dropdown-hover{{ if eq $index $lastMenuIndex }} w3-dropdown-hover-last{{ end }}">
		<button class="w3-button w3-hide-small" onmouseout="clearHiddenClass('{{ .Name | urlize }}');" onclick="toggleHiddenClass('{{ .Name | urlize }}');"><i class='{{ .Pre }}'></i>&nbsp;{{default .Name (i18n .Name)}}</button>
  <button class="w3-button w3-small w3-hide-large w3-hide-medium" onmouseout="clearHiddenClass('{{ .Name | urlize }}');" onclick="toggleHiddenClass('{{ .Name | urlize }}');"><i class='{{ .Pre }}'></i>&nbsp;
{{- if ($.Scratch.Get `smallDispMenuLower`) }}
  {{- substr (default .Name (i18n .Name)) 0 ($.Scratch.Get `smallDispMenuMaxChars`) | lower}}
{{- else}}
  {{- substr (default .Name (i18n .Name)) 0 ($.Scratch.Get `smallDispMenuMaxChars`)}}
{{- end -}}
</button>
  <div class="w3-dropdown-content w3-bar-block w3-card-4 {{ .Name | urlize }}" style="z-index: 2" onclick="hideOnClick('{{ .Name | urlize }}');"> <!-- above owl carousel -->
    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- range .Children -->` | safeHTML }}
    {{- end}}
    {{- range .Children }}
	<div class="w3-dropdown-hover-level-2">
	<a href='{{ $.Site.BaseURL }}{{ .URL }}{{ if and (eq (substr .URL 0 1) `/`) $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}'
	   class="w3-bar-item w3-button w3-theme-l3"><i class='{{ .Pre }}'></i>&nbsp;{{default .Name (i18n .Name)}}
    </a>
	<div class="w3-dropdown-content-level-2">
	  <a href='{{ $.Site.BaseURL }}{{ .URL }}{{ if and (eq (substr .URL 0 1) `/`) $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}' class="w3-bar-item menu-item-description">{{ .Title }}</a>
	  {{ if (where $.Site.Pages ".Params.categories" "intersect" (slice .Name ) ) }}
		{{- range $index, $page := first 4 (where $.Site.Pages ".Params.categories" "intersect" (slice  .Name  ) ).ByWeight }}{{ if .LinkTitle }}
		<a href="{{ $.Site.BaseURL }}/{{ .URL }}" class="w3-bar-item">{{ .LinkTitle }}</a>
		{{- end }}{{- end }}
	  {{ if ( after 4 (where $.Site.Pages ".Params.categories" "intersect" (slice .Name ) ) ) }}
	  <a href="{{ $.Site.BaseURL }}/{{ replace .URL "/#" "" }}/" class="w3-bar-item">{{ i18n "relatedPages" }}</a>
	  {{ end }}
	  {{ end }}

	</div>
	</div>
    {{- end }}  {{- /* range .Children        */}}
  </div> <!-- w3-dropdown-content -->
</div>   <!-- w3-dropdown-hover   -->


    {{- else }}
      {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- not .HasChildren -->` | safeHTML }}
      {{- end}}
	  <a href='{{ $.Site.BaseURL }}{{ .URL }}{{ if and (and  (not (in .URL `.html`)) (eq (substr .URL 0 1) `/`)) $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}'
   class="w3-bar-item w3-button w3-hide-small"><i class='{{ .Pre }}'></i>&nbsp;{{default .Name (i18n .Name)}}
</a>
<a href='{{ $.Site.BaseURL }}{{ .URL }}{{ if and (and  (not (in .URL `.html`)) (eq (substr .URL 0 1) `/`)) $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}'
   class="w3-bar-item w3-button w3-small w3-hide-large w3-hide-medium"><i class='{{ .Pre }}'></i>&nbsp;
{{- if ($.Scratch.Get `smallDispMenuLower`) }}
{{- substr (default .Name (i18n .Name)) 0 ($.Scratch.Get `smallDispMenuMaxChars`) | lower}}
{{- else}}
{{- substr (default .Name (i18n .Name)) 0 ($.Scratch.Get `smallDispMenuMaxChars`)}}
{{- end -}}
</a>
    {{- end  }}   {{- /* if .HasChildren        */}}

  {{- end  }}     {{- /* range .Site.Menus.main */}}

<div class="w3-dropdown-hover">
  <button class="w3-button w3-hide-small more-menu"><i class=''></i>&nbsp;{{ i18n `more` }}</button>
  <button class="w3-button w3-small w3-hide-large w3-hide-medium more-menu" onmouseout="clearHiddenClass('more-dropdown');" onclick="toggleHiddenClass('more-dropdown');"><i class=''></i><img alt="{{ i18n `more` }}" class="more-menu-icon" src="/img/menu-icon-white.png"></button>
  <div class="w3-dropdown-content w3-bar-block w3-card-4 more-menu more-dropdown" style="z-index: 2" > <!-- above owl carousel -->
    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- range more -->` | safeHTML }}
    {{- end}}
	<a target="_blank" href="{{ $.Site.BaseURL }}/files/{{ $.Site.Title }} ({{ $.Site.Language.Lang }}).pdf" class="w3-bar-item w3-button w3-theme-l3">{{ i18n `readPDF` }}</a>
	{{ range .Site.Pages }}{{ if eq .Params.Slug "open-letter-from-the-disillusioned" }}<a href="{{ $.Site.BaseURL }}/{{ .URL }}" class="w3-bar-item w3-button w3-theme-l3">{{ .LinkTitle }}</a>{{ end }}{{ end }}
	{{ range .Site.Pages }}{{ if eq .Params.Slug "video-audio-appearances" }}<a href="{{ $.Site.BaseURL }}/{{ .URL }}" class="w3-bar-item w3-button w3-theme-l3">{{ .LinkTitle }}</a>{{ end }}{{ end }}
	<a href="{{ $.Site.BaseURL }}/{{ i18n `pages` }}/" class="w3-bar-item w3-button w3-theme-l3">{{ i18n `allPages` }}</a>
	<a class="w3-bar-item w3-button w3-theme-l3 recent-articles">{{ i18n `recentPages` }}</a>
    {{- range $index, $page := first 6 (where .Site.RegularPages "IsPage" true).ByDate.Reverse }}{{ if .LinkTitle }}
	<a href="{{ $.Site.BaseURL}}/{{ .URL }}" class="w3-bar-item w3-button w3-theme-l3">{{ .LinkTitle }}</a>
	{{- end }}{{ end }}
  </div> <!-- w3-dropdown-content -->
</div>   <!-- w3-dropdown-hover   -->
  {{- if .Site.IsMultiLingual }}
    {{ partial `header.nav.languageSwitcher.html` . -}}
  {{- end }}
<form class="search-form" method="get" action="https://stopfossilfuels.org/search">
  <input class="search" type="text" name="q" placeholder="Search">
  <input type="hidden" name="k7" value="#FDD9D6">
</form>

{{- end }}
