{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/head.html  -->` | safeHTML }}
{{- end}}
<head>
  {{ `<!-- hi there - what do you expect to see? ...  -->` | safeHTML }}
  {{ partial `head.meta.html` . }}
  {{ partial `head.meta.og.html` . }}
  {{ partial `head.meta.twitter.html` . }}
  {{- if and $.Site.Params.enableGoogleGtag $.Site.GoogleAnalytics }}
    {{ partial `head.google.gtags.html` . }}
  {{- end}}
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!-- back in partials/head.html  -->` | safeHTML }}
  {{- end}}
  <title>
	{{ if .IsHome }}
	{{ $.Site.Params.Title | markdownify }}: {{ $.Site.Params.subtitle | markdownify }}
    {{ else }}
	  {{ .Title | markdownify }} | {{ .Site.Title }}
	{{ end }}
  </title>
  <meta name="description" content="{{ if isset .Params "description" }}{{ chomp .Params.description }}{{ else if isset .Params "summary" }}{{ chomp .Params.summary }}{{ else }}{{ chomp $.Site.Params.description }}{{ end }}" property="og:description">

  {{  .Hugo.Generator }}

  {{ partial `head.stylesheets.html`      . -}}
  {{- if $.Site.Params.fontsUseGoogleApis }}
    {{ partial `head.fonts.googleapis.html` . -}}
  {{- else }}
    {{ partial `head.fonts.local.html`      . -}}
  {{- end }}
  {{ partial `head.ie.html`               . -}}
  {{ partial `head.favicon.html`          . -}}
  {{ partial `scripts.top.html`           . -}}

  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
    {{ `<!-- back in partials/head.html  -->` | safeHTML }}
  {{- end}}
  <meta name="google-site-verification" content="YKNNYbxE2wrwill1d5Yfd6XLDtDkrLpdTELifHVlvV8" />
  {{- if .IsHome }}
	<meta pdfFooterTitle="{{ if $.Site.Params.pdfFooterTitle }}{{ $.Site.Params.pdfFooterTitle }}{{ else }}{{ $.Site.Params.title }}{{ end }}">
	<meta baseURL="{{ $.Site.Params.baseURL }}">
  {{- end }}
</head>
