{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }} 
  {{ `<!-- partials/header.nav.languageSwitcher.html -->` | safeHTML }} 
{{- end}}

  <span class="w3-right">
	  <div class="w3-right w3-dropdown-hover"> 
	 <button class="w3-button w3-hide-small"><i class=''></i>&nbsp;{{ i18n "languageSwitcherLabel" }}</button>
	 <button class="w3-button w3-small w3-hide-large w3-hide-medium" onmouseout="clearHiddenClass('language-options');" onclick="toggleHiddenClass('language-options');"><i class=''></i><img alt='{{ i18n "languageSwitcherLabel" }}' src="/img/globe-icon-white.png"></button>
  <div class="w3-dropdown-content language-options w3-bar-block w3-card-4" style="z-index: 2" > 
{{- if .IsTranslated }}
  {{- $alternate := 0 -}}
  {{- $permalink := "" -}}
  {{- $lang := "" -}}
  {{- $translations := .Translations -}}
  {{- range $index, $content := .Site.Languages -}}
    {{- if ne $.Site.Language.Lang .Lang }}
      {{- $permalink = .Params.BaseURL -}}
      {{- $alternate = 0 -}}
      {{- $lang = .Lang -}}
      {{- range $translations }}
        {{- if (and ( eq .Lang $lang ) ( isset .Params "url" )) -}}
          {{- $permalink = .Permalink -}}
          {{- $alternate = 1 -}}
        {{- end -}}
	  {{- end -}}
	  <a {{ if $alternate }}rel="alternate" {{ end }}href="{{ $permalink }}" hreflang="{{ $lang }}" class="w3-bar-item w3-button w3-theme-l3">{{ .Params.LanguageName }}</a>
    {{- end }}
  {{- end }}
{{- else -}}
  {{- range $index, $content := .Site.Languages -}}
    {{- if ne $.Site.Language.Lang .Lang }}
	  <a href="{{ .Params.BaseURL }}" hreflang="{{ .Lang }}" class="w3-bar-item w3-button w3-theme-l3">{{ .Params.LanguageName }}</a>
    {{- end -}}
  {{- end -}}
{{- end -}}
              </div>
	  </div>
  </span>
