{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/main.breadcrumb.html -->` | safeHTML }}
{{- end}}
{{- if isset .Params (lower `categories` ) }}
{{- if not (eq (len .Params.categories) 0) }}
{{- $categoryslugs := .Params.categoryslugs -}}
{{- $linktitle := .LinkTitle -}}
{{- range $index, $category := .Params.categories -}}
  {{- $sectionname := `` -}}
  {{- $categorylink := `` -}}
  {{- $categoryslug := index $categoryslugs $index }}
  {{- range $.Site.Menus.main -}}
	{{- $tempsectionname := .Name -}}
	{{- if .HasChildren -}}
	  {{- range .Children -}}
		{{- if eq .Identifier $categoryslug -}}
		  {{- $sectionname = $tempsectionname -}}
		  {{- $categorylink = replace .URL `/#` `` -}}
		{{- end -}}
	  {{- end -}}
	{{- end -}}
  {{- end -}}
  {{- $base := $.Site.Params.baseURL -}}
<div class="breadcrumb">
<a href="/">{{ $.Site.Params.title }}</a> &#9654; <a href="{{ $base }}/#{{ lower (replace $sectionname " " "-" ) }}">{{ $sectionname }}</a> &#9654; <a href="{{ $base }}/#{{ $categorylink }}">{{ $category }}</a> &#9654; <a href="{{ $base }}/{{ $categorylink }}/">{{ $category }} {{ i18n `pages` }}</a> &#9654; <strong>{{ $linktitle }}</strong>
</div>
  {{- end -}}
{{- end -}}
{{- else if (eq .Kind `taxonomy` ) -}}
  {{- $base := $.Site.Params.baseURL -}}
  {{- $categoryslug := replace .URL "/" "" -}}
  {{- $sectionname := `` -}}
  {{- range $.Site.Menus.main -}}
	{{- $tempsectionname := .Name -}}
	{{- if .HasChildren -}}
	  {{- range .Children -}}
		{{- if eq ( replace .URL "/#" "" )  $categoryslug -}}
		  {{- $sectionname = $tempsectionname -}}
		{{- end -}}
	  {{- end -}}
	{{- end -}}
  {{- end -}}
<div class="breadcrumb">
<a href="/">{{ $.Site.Params.title }}</a> &#9654; <a href="{{ $base }}/#{{ lower (replace $sectionname " " "-" ) }}">{{ $sectionname }}</a> &#9654; <a href="{{ $base }}/#{{ replace .URL "/" "" }}">{{ .Title }}</a> &#9654; <strong>{{ .Title }} {{ i18n `pages` }}</strong>
</div>
{{- end -}}
