{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/main.taxonomy.current.html -->` | safeHTML }}
{{- end}}
<div class="w3-right-align ">
{{- if isset .Params (lower `categories` ) }}
{{- if not (eq (len .Params.categories) 0) }}
{{- if ne (index .Params.categories 0) `` }}
{{/*
    <a href='{{ $.Site.BaseURL }}/{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}' class="taxonomy-button w3-button"><i class="far fa-folder-open"></i></a>
*/}}
	{{- $numcategories := (len .Params.categories) -}}
	  {{- $categoryindex := (sub $numcategories 1) -}}
  {{- range $index, $name := .Params.categories -}}
  {{- range $.Site.Menus.main -}}
	{{- if .HasChildren -}}
	  {{- range .Children -}}
	  {{ if eq .Name $name }}{{ $.Scratch.Set "anchor" (replace .URL "/#" "" ) }}{{ end }}
	  {{- end -}}
	{{- end -}}
  {{- end -}}
  {{- if $name -}}<a href='{{ $.Site.BaseURL }}/{{ $.Scratch.Get "anchor" }}/{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}' class="taxonomy-button w3-button">"{{ $name }}"</a>{{- end -}}
  {{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- if isset .Params (lower `tags` ) -}}
{{- if not (eq (len .Params.tags) 0) -}}
{{- if ne (index .Params.tags 0) `` -}}
   <a href='{{ `/tags` | relURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}' class="taxonomy-button w3-button"><i class="fas fa-tags"></i></a>
  {{- range $name := .Params.tags -}}
    {{- if $name -}}<a href='{{ `/tags/` | relURL }}{{ $name | urlize }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}' class="taxonomy-button w3-button">{{ $name }}</a>{{ end }}
  {{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}
</div>
