{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }} 
  {{ `<!-- partials/main.toc.single.html -->` | safeHTML }} 
{{- end}}
{{- if .Params.toc }}
<div class="clear"></div>
<div class="flex">
<div class="toc w3-left-align clear"><p>{{ i18n `tableOfContents` }}
{{ .TableOfContents }}
</div>
{{- if .Params.tocimg }}
<div class="right sharewithtoc"><img src="{{ .Params.tocimg }}"></div>
{{- end }}
</div>
{{- end }}
