{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/main.title.html -->` | safeHTML }}
{{- end}}
<span>

{{- if .Params.icon }}
  <i class='{{ .Params.icon }}'></i>
{{- end }}
      <div class="title-wrapper">
      <a class="navbar-brand" href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
	  </div>
</span>
