{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
{{ `<!-- partials/scripts.bottom.html -->` | safeHTML }}
{{- end}}
<script src='{{ `js/custom.bottom.js`                     | relURL }}'></script>
{{- range .Site.Params.custom_js_bottom }}
<script src='{{ .                                         | relURL }}'></script>
{{- end }}
