{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
{{ `<!-- partials/scripts.top.html -->` | safeHTML }}
{{- end}}
<script src='{{ `js/nav-dropdown.js` | relURL }}'></script>
{{- if .IsHome }}
<script src='{{ `js/front-page-hash.top.js`                         | relURL }}'></script>
{{ else if (eq .Params.Slug "open-letter-from-the-disillusioned" ) }}
<link rel="stylesheet" href='{{ `css/jquery.dataTables.min.css`                         | relURL }}'>
<script src='{{ `js/jquery-latest.min.js`                         | relURL }}'></script>
<script src='{{ `js/jquery.dataTables.min.js`                         | relURL }}'></script>
<script src='{{ `js/open-letter-signature-table.js`                         | relURL }}'></script>
{{- end }}
{{- range .Site.Params.custom_js_top }}
<script src='{{ .                                          | relURL }}'></script>
{{- end }}
