{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/terms.list.html -->` | safeHTML }}
{{- end}}
{{ $terms := .Data.Terms }}
{{/* {{ $terms }}
<br><br>
*/}}
{{ $urlizedTerms := newScratch }}
{{ $urlizedTerm := newScratch }}
{{- range $term, $data := $terms }}
{{ $urlizedTerms.Set "term" ( urlize $term ) }}
{{- range $index, $data :=$data }}
{{/* sub {{ $index }} is {{ $data }}<br> */}}
{{ $urlizedTerms.Add ( $urlizedTerms.Get "term" ) (slice $data ) }}
{{ end }}
{{ end }}
{{- $firstmenu := 1 }}
{{- range $.Site.Menus.main }}
	  {{- if ne $firstmenu 1 }}
	  </div>
	  {{- end }}
{{- $firstmenu = 0 }}
{{- $newmenu := 1 }}
<h2>{{ .Title }}</h2>
  {{- if .HasChildren }}
    {{- range .Children }}
	  {{- $.Scratch.Set "headerprinted" false }}

	  {{/* Check whether any pages, first by the url setting for the menu item, then by the url'ized name */}}
	  {{- $.Scratch.Set "sectionID" .URL }}
	  {{- if not ( $urlizedTerms.Get ( $.Scratch.Get "sectionID" ) ) }}
	    {{- $.Scratch.Set "sectionID" ( .Name | urlize ) }}
	  {{- end }}
	  {{- $sectionID := $.Scratch.Get "sectionID" }}

	  {{- if $urlizedTerms.Get $sectionID }}
	    {{- $term := $urlizedTerms.Get $sectionID }}
		{{- $menutitle := .Name }}
	{{- $i := 0 }}
	{{- range $term -}}
	{{- if eq ( index .Params.categories 0 ) $menutitle }}
	  {{- if eq ( $.Scratch.Get "headerprinted" ) false }}
	  {{- if ne $newmenu 1 }}
	  </div>
	  {{- end }}
	  {{- $newmenu = 0 }}
	  <h3 class="clear">{{ $menutitle | humanize }}</h3>
	    {{ $.Scratch.Set "headerprinted" true }}
	  {{- end }}
	  {{- if eq (mod $i 3) 0 }}
	    {{- if gt $i 0 }}
    </div><div class="w3-cell-row"> {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
             {{ `<!-- w3-cell-row -->` | safeHTML }}
           {{- end}}
	{{- else }}
	      <div class="w3-cell-row w3-margin-top">
    {{- end }}{{/* if mod */}}
      {{- end }}
	        <div class='w3-cell w3-cell-bottom w3-margin-bottom w3-mobile {{ default `w3-theme-l4` ($.Site.Param `colorTaxonomyCell`)}} '>
        <div class='w3-card w3-margin-right w3-round w3-hover-shadow w3-opacity-min w3-hover-opacity-off {{ default `w3-theme-l3` ($.Site.Param `colorTaxonomyCard`)}} '>
		  {{ partial `main.teaser_in_card.html` . }}
        </div> <!-- w3-card -->
      </div> {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
               {{ `<!-- w3-cell -->` | safeHTML }}
             {{- end}}
		 {{- $i = add $i 1 }}
	{{- end }}
	{{- end }}
	  {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
		  </div>
