<!DOCTYPE html>
<html lang='{{ .Site.Language.Lang }}'>
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- index.html  -->` | safeHTML }}
  {{- end}}
  {{ partial `head.html` . }}

  <body>
    {{ partial `main.title.html` . }}
    <div id="all" class="theme-layouts-index w3-theme-l4">
      <header>
		{{ partial `header.rss.html`     . }}
		{{ partial `header.nav.html`     . }}
      </header>
	  <div id="canvas" class="w3-container w3-theme-l4 front">
		<div class="max-width-wrapper">
		  {{ .Content }}
		</div>
	  </div> <!-- canvas -->
	  <footer>
		{{ partial `footer.html`        . }}
		{{ partial `footer.bottom.html` . }}
	  </footer>
    </div> <!-- all -->
    {{/* partial `scripts.bottom.html`  . */}}
  </body>
  {{- partial `debug.html` . -}}
</html>
