 /*
    hugo-theme-w3css-basic styles
*/

/* -------------------------------------------------- */
/* all */
.anchor {
  vertical-align: super;
}

/*
clear
https://www.w3schools.com/cssref/pr_class_clear.asp
<div class="clearfix"></div>
*/

.clearfix{
    clear:both
}

a.no-decoration {
  text-decoration: none !important;
}

img {
    max-width: 100%;
    height: auto;
}

.headline-button {
  padding-top:    2px !important;
  padding-right:  0px !important;
  padding-bottom: 0px !important;
  padding-left:   0px !important;
}

.taxonomy-button {
  padding-top:    2px !important;
  padding-right:  6px !important;
  padding-bottom: 0px !important;
  padding-left:   2px !important;
}

.taxonomy-current-fa {
  padding-left:   16px ;
}

.taxonomy-current-a {
  padding-right:   8px ;
  text-decoration: none ;
}

.taxonomy-text-button {
  padding-top:    0px;
  padding-right:  0px;
  padding-bottom: 0px;
  padding-left:   0px;
  text-decoration: none ;
}

kbd {
  font-size: 0.8em;
  background-color: #fff;
  padding: 0px 1px 0px 1px;;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 4px;
}

/* -------------------------------------------------- */
/* TableOfContents */

/* #TableOfContents>ul{padding:0} */
#TableOfContents>ul>li{list-style-type:none}
#TableOfContents>ul>li>ul>li{list-style-type:disc}

/* -------------------------------------------------- */
/* Tables */

table{border-collapse:collapse;border-spacing:0;display:table} /* width:100%; */
tr{border-bottom:1px solid #ddd}
tr:nth-child(even){}
tr:nth-child(odd){}
tr:nth-child(even){}
tbody tr:hover{background-color:#ccc}
td,th{padding:2px 8px;display:table-cell;vertical-align:top}
th:first-child,td:first-child{padding-left:8px}

/* -------------------------------------------------- */
/* front.marquee */
/* https://www.quackit.com/css/codes/marquees/ */

.top-marquee {
  white-space: nowrap;
}

.top-marquee div {
  transform: translateX(100%);
  animation: marquee 60s linear infinite;
}

.top-marquee div:hover {
  animation-play-state: paused;
}

.top-marquee span {
}

@keyframes marquee {
 0%   { transform: translateX( 100%); }
 100% { transform: translateX(-100%); }
}


/* -------------------------------------------------- */
/* front.jumbotron.carousel */

#section-jumbotron {
}

#container-jumbotron {
}

/* -------------------------------------------------- */
/* front.photocards */

/* https://www.w3schools.com/cssref/css3_pr_animation-duration.asp */
.photocards-animated {
          animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;

          animation-duration: 0.8s;
  -webkit-animation-duration: 0.8s;
}

.photocards-animated0 {
          animation-delay:    0s;
  -webkit-animation-delay:    0s;
}

.photocards-animated1 {
          animation-delay:    0.5s;
  -webkit-animation-delay:    0.5s;
}

.photocards-animated2 {
          animation-delay:    1s;
  -webkit-animation-delay:    1s;
}

.photocards-animated3 {
          animation-delay:    1.5s;
  -webkit-animation-delay:    1.5s;
}

.photocards-animated4 {
          animation-delay:    2s;
  -webkit-animation-delay:    2s;
}

.photocards-animated5 {
          animation-delay:    2.5s;
  -webkit-animation-delay:    2.5s;
}

.photocards-animated6 {
          animation-delay:    3s;
  -webkit-animation-delay:    3s;
}

.photocards-animated7 {
          animation-delay:    3.5s;
  -webkit-animation-delay:    3.5s;
}

.photocards-animated8 {
          animation-delay:    4s;
  -webkit-animation-delay:    4s;
}

.photocards-animated9 {
          animation-delay:   4.5s;
  -webkit-animation-delay:   4.5s;
}


/* -------------------------------------------------- */
/* front.features */

/* https://www.w3schools.com/cssref/css3_pr_animation-duration.asp */
.features-animated {
          animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;

          animation-duration: 0.8s;
  -webkit-animation-duration: 0.8s;
}

.features-animated0 {
          animation-delay:    0s;
  -webkit-animation-delay:    0s;
}

.features-animated1 {
          animation-delay:    0.5s;
  -webkit-animation-delay:    0.5s;
}

.features-animated2 {
          animation-delay:    1s;
  -webkit-animation-delay:    1s;
}

.features-animated3 {
          animation-delay:    1.5s;
  -webkit-animation-delay:    1.5s;
}

.features-animated4 {
          animation-delay:    2s;
  -webkit-animation-delay:    2s;
}

.features-animated5 {
          animation-delay:    2.5s;
  -webkit-animation-delay:    2.5s;
}

.features-animated6 {
          animation-delay:    3s;
  -webkit-animation-delay:    3s;
}

.features-animated7 {
          animation-delay:    3.5s;
  -webkit-animation-delay:    3.5s;
}

.features-animated8 {
          animation-delay:    4s;
  -webkit-animation-delay:    4s;
}

.features-animated9 {
          animation-delay:   4.5s;
  -webkit-animation-delay:   4.5s;
}



/* -------------------------------------------------- */
/* front.testimonials */

#testimonials-title {
  font-variant: small-caps;
}

/* -------------------------------------------------- */
/* front.see_more */

#see_more_title {
  font-variant: small-caps;
}

#see_more_background {
  background: url('../images/backgrounds/see_more_background.jpg') center top no-repeat;

  background-color:      rgba(100,100,100, 0.9);
  background-blend-mode: darken;

  background-attachment: scroll;
  background-size:       auto auto;
  background-attachment: fixed;
  background-size:       cover;
}

/* -------------------------------------------------- */
/* front.recent_posts */

#recent_posts_title {
  font-variant: small-caps;
}

/* -------------------------------------------------- */
/* front.clients */

#clients-title {
  font-variant: small-caps;
}

/* -------------------------------------------------- */
/* contact */

/* ------------------------- */
/* map */
#map {
  height: 200px;
}


/* ------------------------- */
/* nav */
.header-nav-menu-topbar-small
, .header-nav-menu-dropdown-small
, .header-nav-menu-small
{
  padding-left: 4px  !important;
  padding-right:4px !important;
}

.header-nav-menu-topbar-medium
, .header-nav-menu-dropdown-medium
, .header-nav-menu-medium
{
  padding-left: 8px!important;
  padding-right:8px !important;
}

.header-nav-menu-topbar-large
, .header-nav-menu-dropdown-large
, .header-nav-menu-large
{
}


/* -------------------------------------------------- */
/* hugo-easy-gallery */
figure img {
    max-width: 100%;
}

.fancy-figure.caption-position-bottom figcaption {
 padding:3%;
}

.fancy-figure.caption-position-bottom figcaption footer a {
  position:relative;
}

/* DELETE ME
figure figcaption a {
  position: relative;
  color: #F00;
}
*/

.gallery figcaption,
.fancy-figure figcaption {
  background: #000;
  color: #FFF;
  font-size: 85%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}

.gallery .box figure {
  float: left;
  margin: 1em 4px;
}

.gallery {
  margin: 10px;
  max-width: none;
}

.gallery .box {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

@media only screen and (min-width : 365px) {
  .gallery .box {
    width: 50%;
    padding-bottom: 50%;
  }
}

@media only screen and (min-width : 480px) {
  .gallery .box {
    width: 33.3%;
    padding-bottom: 33.3%; /*  */
  }
}

@media only screen and (min-width : 760px) {
  .gallery .box {
    width: 25%;
    padding-bottom: 25%;
  }
}

@media only screen and (min-width : 1024px) {
  .gallery .box {
    width: 20%;
    padding-bottom: 20%;
  }
}

@media only screen and (min-width : 1280px) {
  .gallery .box {
    width: 16%;
    padding-bottom: 16%;
  }
}



/* -------------------------------------------------- */
/* shortcut res-figure */

.res-figure {
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 10px;
}

.res-figcaption {
/*
    color: #FFF;
    background: rgba(0, 0, 0, 0.2);
*/
    text-align: center;
    font-size: 75%;
    /* padding: 0px; */
    padding-top: 6px;
    line-height: 1;
}

.res-figcaption a {
  position: relative;
  /* font-size: 80%; */
  /* background: rgba(0, 0, 0, 0.1); */
  /* text-decoration: none; */
}


/* -------------------------------------------------- */
/* highlight with chroma (incl. shortcodes) */
code.chroma {
  background-color: rgba(0, 255, 255, .3) ; /* used e.g. for csc* shortcodes; adjust to syntax.css Background */
}

/* code { */
/*   background-color: rgba(255, 0, 255, .5) ; */
/* } */


/* -------------------------------------------------- */
/* shortcodes w3-notice-icon and w3-alert-icon */
.shortcode-danger {
  border-color:#f44336!important
}
.shortcode-warning {
  border-color:#ffeb3b!important
}
.shortcode-info  {
  border-color:#2196F3!important
}
.shortcode-exclamation  {
  border-color:#2a8!important
}
.shortcode-success{
  border-color:#4CAF50!important
}

/* -------------------------------------------------- */
/* shortcodes w3-quote */
.shortcode-quote {
  border-color:#4CAF50!important;
  /* clear: both; */
  display: table;
}

.shortcode-quote-source {
  font-style: italic;
  font-weight: bold;
}

/* -------------------------------------------------- */
/* shortcodes w3-code w3-codespan */
pre.w3-code, span.w3-codespan{
  font-family:monospace,monospace !important;
  /* font-family:monospace,monospace; */
  /* font-family: initial !important;*/
  font-size:1em;
}

/* for w3-code and chroma styles */
pre.w3-code, pre.chroma {
  border-radius:4px;
  padding: 0 3px 0 3px;
  border: 1px solid;
  overflow: auto;
}

/* ------------------------------------------------------------------------------ */
/* -- Local variables:      */
/* -- tab-width:         2  */
/* -- css-indent-offset: 2  */
/* -- indent-tabs-mode: nil */
/* -- End:                  */
