{{- $sectionID := .Get 0 -}}
{{- $anchor := "" -}}
{{- range $.Site.Menus.main -}}
  {{- if .HasChildren -}}
	{{- range .Children -}}
	{{ if eq .Identifier $sectionID }}{{ $anchor = index ( split .URL "#" ) 1 }}{{ $.Scratch.Set "categoryName" .Name }}{{ end }}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $categories := index .Site.Taxonomies "categories" -}}
<p class="details"><details id="{{ $anchor }}">{{.Inner}}
{{- if (where .Site.Pages ".Params.categories" "intersect" (slice ( $.Scratch.Get "categoryName" ) ) ) -}}
<p class="readMoreAbout"><a href="{{ .Site.BaseURL }}/{{ $anchor }}/">{{ i18n "readMoreAbout" . }}</a></p>
  {{- end -}}
</details>
