<figure{{ with .Get "class" }} class="{{.}}"{{ end }}>
    {{ if .Get "link"}}<a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>{{ end }}
        <img src="{{ .Get "src" }}" {{ if .Get "alt" }}alt="{{ .Get "alt" }}" {{ end }}{{ with .Get "width" }}width="{{.}}" {{ end }}{{ with .Get "height" }}height="{{.}}" {{ end }}/>
    {{ if .Get "link"}}</a>{{ end }}
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
    <figcaption>{{ if isset .Params `title` }}
        <h4>{{ .Get "title" }}</h4>{{ end }}
        {{ if or (.Get "caption") (.Get "attr")}}<p>
        {{ if .Get "captionlink"}}<a href="{{ .Get "captionlink" }}"{{ with .Get "captiontarget" }} target="{{ . }}"{{ end }}> {{ end }}
        {{ .Get "caption" }}
        {{ if .Get "captionlink"}}</a> {{ end }}{{ if and ( .Get "attrlink" ) (.Get "caption" ) }}<br>{{ end }}
        {{ if .Get "attrlink"}}<a class="attr" href="{{ .Get "attrlink" }}"{{ with .Get "attrtarget" }} target="{{ . }}"{{ end }}> {{ end }}
            {{ .Get "attr" }}
        {{ if .Get "attrlink"}}</a> {{ end }}
        </p> {{ end }}
    </figcaption>
    {{ end }}
</figure>
