{{- $imageboundary := "<div class='imageboundary'></div>" -}}
{{- $figure := index ( split .Inner $imageboundary ) 0 -}}
{{- $body := index ( split .Inner $imageboundary ) 1 -}}
<div class="w3-hide-small">{{ $figure | safeHTML }}</div>
{{ $body| safeHTML  }}
<!-- small --><div class="w3-hide-medium w3-hide-large">{{ $figure | safeHTML }}</div><!-- end small -->
