{{- $page := .Get 1 -}}
{{- $text := .Get 0 -}}
{{- if eq `/#` ( slicestr $page 0 2 ) -}}
  {{- $page = slicestr $page 2 -}}
  {{- range $.Site.Menus.main -}}
	{{- if eq .Identifier $page -}}<a href="/#{{ lower ( replace .Name " " "-" ) }}">{{ $text }}</a>{{- end -}}
	{{- if .HasChildren -}}
	  {{- range .Children -}}
		{{- if eq .Identifier $page -}}<a href="{{ .URL | relLangURL }}">{{ $text }}</a>{{- end -}}
	  {{- end -}}
	{{- end -}}
  {{- end -}}
{{- else -}}
  {{- if ref . $page -}}
<a href="{{ ref . $page }}">{{ chomp $text }}</a>
  {{- else -}}
<a href="https://stopfossilfuels.org{{ $page }}">{{ chomp $text }}</a>
  {{- end -}}
{{- end -}}
