{{ .Inner }}
**Rentabilität: Barrel Öl aufgehalten pro Monat pro Person und Barrel aufgehalten pro Dollar**
*Geh mit dem Mauszeiger auf unterstrichene Überschriften für Erklärungen*

{{/* NOTE TO TRANSLATORS: unlike on most pages, you *will* need to manually set the links below to the translated pages for the Valve Turners, #NoDAPL, and Ruby & Jessica. */}}

Wer            | Ziel       | Taktik             | <a title="Barrel Öl, die unter normalen Umständen geflossen wären" class="underline">Aufgehaltene Barrel</a>   | <a title="Zeitaufwand beim Widerstand" class="underline">Monate pro Person</a> | <a title="Ertrag: Barrel Öl aufgehalten pro Person pro Monat" class="underline">BBBLS/p-m</a> | <a title="US-Dollar, die Widerstand ausgab" class="underline">Geld</a> | <a title="Ertrag: Barrel Öl aufgehalten pro Dollar ausgegeben durch Widerstand" class="underline">BBLS/$</a>
---------------|--------------|--------------------|-------------------|---------------|-------------|-------|----------
[Valve Turner](/civil-disobedience/valve-turners/)  | Teersandpipelines | Ziviler Ungehorsam | 0.75 Millionen       | ~35        | 21 400   | $12-$14 000 | 58
[#NoDAPL](/civil-disobedience/standing-rock-nodapl/)  | DAPL         | Ziviler Ungehorsam | 45 million        | > 15 000       | < 3000 | > $20 Millionen | < 2.25
[Ruby & Jessica](/ecosabotage/ruby-montoya-jessica-reznicek-dapl-ecosaboteurs/) | DAPL         | Ökosabotage   | 30 Millionen        | 10       | 3 000 000     | ~$3000 | 10 000

{{ if ne .Page.File.TranslationBaseName "pipeline-activism" }}
*Lies unseren Vergleich dieser Kampagnen: [Pipelineaktivismus und Strategieprinzipien](/strategy-principles/pipeline-activism/)*
{{- end -}}