{{ .Inner }}
**Return on investment: barrels of oil stopped per person month, and barrels stopped per dollar**
*Hover for a few seconds over underlined headers for explanations*

{{/* NOTE TO TRANSLATORS: unlike on most pages, you *will* need to manually set the links below to the translated pages for the Valve Turners, #NoDAPL, and Ruby & Jessica. */}}

Who            | Target       | Tactic             | <a title="Barrels of oil which would have flowed under business as usual" class="underline">Barrels stopped</a>   | <a title="Time spent by resisters" class="underline">Person months</a> | <a title="Return on Investment: Barrels of oil stopped per person month" class="underline">BBLS/p-m</a> | <a title="US dollars spent by resisters" class="underline">Money</a> | <a title="Return on Investment: Barrels of oil stopped per dollar spent by resisters" class="underline">BBLS/$</a>
---------------|--------------|--------------------|-------------------|---------------|-------------|-------|----------
[Valve Turners](/civil-disobedience/valve-turners/)  | Tar sands pipelines | Civil disobedience | .75 million       | ~35        | 21,400   | $12-$14,000 | 58
[#NoDAPL](/civil-disobedience/standing-rock-nodapl/)  | DAPL         | Civil disobedience | 45 million        | > 15,000       | < 3000 | > $20 million | < 2.25
[Ruby & Jessica](/ecosabotage/ruby-montoya-jessica-reznicek-dapl-ecosaboteurs/) | DAPL         | Ecosabotage   | 30 million        | 10       | 3,000,000     | ~$3000 | 10,000

{{ if ne .Page.File.TranslationBaseName "pipeline-activism" }}
*Read our comparison of these campaigns: [Pipeline Activism and Principles of Strategy](/strategy-principles/pipeline-activism/)*
{{- end -}}
