{{ .Inner }}
**Retorno de inversión: barriles de petróleo detenidos por persona por mes y barriles detenidos por dólar**
*Mantén el cursor encima de los títulos subrayados para obtener explicaciones*

{{/* NOTE TO TRANSLATORS: unlike on most pages, you *will* need to manually set the links below to the translated pages for the Valve Turners, #NoDAPL, and Ruby & Jessica. */}}

Quien            | Objetivo      | Táctica             | <a title="Barriles de petróleo que hubieran fluido bajo el esquema usual" class="underline">Barriles detenidos</a>   | <a title="Tiempo invertido por la resistencia" class="underline">Persona mes</a> | <a title="Retorno de inversión: barriles de petróleo detenidos por persona mes" class="underline">BD/p-m</a> | <a title="Dólares americanos gastados por la resistencia" class="underline">Dinero</a> | <a title="Retorno de inversión: Barriles de petróleo detenidos por dólar gastado por la resistencia" class="underline">BD/$</a>
---------------|--------------|--------------------|-------------------|---------------|-------------|-------|----------
[Activistas que cierran válvulas de flujo](/civil-disobedience/valve-turners/)  | Oleoductos de arenas bituminosas | Desobediencia Civil | 0.75 millones     | ~35        | 21,400   | $12-$14,000 | 58
[#NoDAPL](/civil-disobedience/standing-rock-nodapl/)  |  Oleoducto DAPL      | Desobediencia Civil | 45 millones        | > 15,000       | < 3000 | > $20 millones | < 2.25
[Ruby y Jessica](/ecosabotaje/ruby-montoya-jessica-reznicek-ecosabotaje-dapl/) | DAPL         | Ecosabotaje   | 30 millones        | 10       | 3,000,000     | ~$3000 | 10,000

{{ if ne .Page.File.TranslationBaseName "pipeline-activism" }}
*Lee nuestra comparación de estas campañas: [Activismo de Oleodcutos y Principios de Estrategia](/strategy-principles/pipeline-activism/)*
{{- end -}}
