<div class="open-letter">
  <h2>{{ i18n `signTheLetter` }}</h2>
  <input checked name="sigIndOrOrg" id="sigInd" type="radio"> <label for="sigInd">{{ i18n `signAsIndividual` }}</label>
  <br><input name="sigIndOrOrg" name="sigIndOrOrg" id="sigOrg" type="radio"> <label for="sigOrg">{{ i18n `signAsOrg` }}</label>
  <div class="clear" id="open-letter-individual">
	<form  action="https://do.stopfossilfuels.org/civicrm/?page=CiviCRM&amp;q=civicrm/profile/create&amp;gid=16&amp;reset=1" method="post" name="Edit" id="Edit" class="CRM_Profile_Form_Edit" >
	  <input name="gid" type="hidden" value="16" />
	  <input name="_qf_default" type="hidden" value="Edit:next" />
	  <input name="contact_source" type="hidden" value="Open Letter" />
	  <div class="signature-group">
		<div class="signature-group-header">* {{ i18n `required` }}</div>
		<input type="email" required name="email-Primary" placeholder="* {{ i18n `email` }}">
		<div class="top20"></div>
		<input type="text" required name="first_name" placeholder="* {{ i18n `firstName` }}">
		<input type="text" required name="last_name" placeholder="* {{ i18n `lastName` }}">
		<div class="signature-group-header">{{ i18n `optional` }}</div>
		<div class="label"><label for="custom_1">{{ i18n `sigTitle` }}</label></div>
	  <input type="text" name="custom_1" id="custom_1" class="fullwidth max500" maxlength="255">
	  <div class="label"><label for="url-13">{{ i18n `yourWebsite` }}</label></div>
	  <input pattern="https?://.*" title="{{ i18n `validURL` }}" name="url-13" id="url-13" value="http://" class="clear fullwidth max500" maxlength="255">
		<div class="clear top20"></div>
		<input type="checkbox" value="1" name="custom_2" id="custom_2" class="clear"> <label for="custom_2">{{ i18n `signMeUp` }}</label>
		<div class="clear"></div>
		<input type="submit" value="{{ i18n `signTheLetter` }}" class="clear">
	  </div>
	</form>
  </div>
  <div class="clear" id="open-letter-group">
	<form  action="https://do.stopfossilfuels.org/civicrm/?page=CiviCRM&amp;q=civicrm/profile/create&amp;gid=17&amp;reset=1" method="post" name="Edit" id="Edit" class="CRM_Profile_Form_Edit" >
	  <input name="gid" type="hidden" value="17" />
	  <input name="_qf_default" type="hidden" value="Edit:next" />
	  <input name="contact_source" type="hidden" value="Open Letter" />
	  <div class="signature-group">
		<div class="signature-group-header">* {{ i18n `required` }}</div>
		<input type="email" required name="email-Primary" placeholder="* {{ i18n `email` }}">
		<div class="top20"></div>
		<input type="text" required name="organization_name" placeholder="* {{ i18n `orgName` }}">
		<div class="signature-group-header">{{ i18n `optional` }}</div>
	  <div class="label"><label for="url-13">{{ i18n `yourWebsite` }}</label></div>
	  <input pattern="https?://.*" title="{{ i18n `validURL` }}" name="url-13" id="url-13" value="http://" class="clear fullwidth max500" maxlength="255">
		<div class="clear top20"></div>
		<input type="checkbox" value="1" name="custom_2" id="custom_2" class="clear"> <label for="custom_2">{{ i18n `signUsUp` }}</label>
		<div class="clear"></div>
		<input type="submit" value="{{ i18n `signTheLetter` }}" class="clear">
	  </div>
	</form>
  </div>
</div>
